# requirements.txt file specifies dependencies our Python project needs to run

--trusted-host pypi.org
--trusted-host pypi.python.org  
--trusted-host files.pythonhosted.org

# install MONAI and necessary image processing packages (base list pulled from MONAI Bundle Spleen Seg App example)
# based on CCHMC Ped Abd CT MONAI Bundle dependencies:
#   monai, numpy, nibabel versions upgraded
#   pytorch-ignite and fire dependencies added
#   python 3.10 is required to install monai-deploy-app-sdk>=3.1.0

# upgraded per monai-deploy-app-sdk==3.5.0
monai==1.5.1

# upgraded per monai==1.5.1
torch>=2.4.1
pytorch-ignite==0.4.11
numpy>=1.24,<3.0

# pydicom>=3.0.0 needed for monai-deploy-app-sdk>=3.1.0
pydicom==3.0.1
# highdicom depends on pydicom>=3.0.1 starting with 0.23.0
highdicom>=0.23.0

fire==0.4.0
nibabel==4.0.1
itk>=5.3.0
SimpleITK>=2.0.0
scikit-image>=0.17.2
Pillow>=8.0.0
numpy-stl>=2.12.0
trimesh>=3.8.11
matplotlib>=3.7.2

# suggested to pin <81 due to pkg_resources deprecation
setuptools>=59.5.0,<81.0.0

# dependencies for processing compressed DICOM pixel data (from monai-deploy-app-sdk>=3.4.0)
nvidia-nvimgcodec-cu12>=0.6.1
nvidia-nvjpeg-cu12 # not listed by app=sdk; may be absent based on build base image
nvidia-nvjpeg2k-cu12>=0.9.1
python-gdcm>=3.0.10
pylibjpeg[all]

# MONAI Deploy App SDK package installation
# includes holoscan-cu12 and holoscan-cli (no pins)
monai-deploy-app-sdk==3.5.0

# fine control over holoscan-cu12 and holoscan-cli versions
holoscan-cu12==3.10.0
holoscan-cli==3.10.0

# Requirements for output operators
pandas>=1.3.0
matplotlib>=3.5.1
pypdf2>=1.26.0
cupy-cuda12x>=12.0.0
cucim>=23.10.0