/*
https://github.com/pandas-dev/pydata-sphinx-theme/blob/master/pydata_sphinx_theme/static/css/theme.css
https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/customizing.html#customizing-the-css
*/

@import url("https://fonts.googleapis.com/css?family=Lekton:700|Roboto&display=swap");
body {
    font-family: "Roboto", sans-serif;
}

.wy-menu-vertical p.caption {
    color: #7cccc7;
}

* {
    font-variant-ligatures: none;
}

.autoclasstoc td {
    padding: 0.2rem;
    line-height: normal;
}

dl.field-list>dt {
    word-break: normal;
}

h5.card-header {
    margin-top: 0px;
    margin-bottom: 0px;
}

h5.card-header::before {
    height: 0px;
    margin-top: 0px;
}


/* Customize styles */

:root {
    --pst-color-inline-code: 232, 62, 140;
    --pst-font-size-h1: 32px;
    --pst-font-size-h2: 26px;
    --pst-font-size-h3: 21px;
    --pst-font-size-h4: 18px;
    --pst-font-size-h5: 16px;
    --pst-font-size-h6: 14px;
}


/* Customize headings */

.heading-style,
h1 {
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

/* Code Highlight */
div[class^="highlight"] pre {
    color: rgb(248, 248, 242);
    background-color: rgb(41, 44, 46);
    border: 0px;
    box-shadow: none;
}
div.highlight{
    border-radius: 5px;
}
div.highlight pre {
    border-radius: 5px;
}
div.cell div.cell_input div.highlight {
    border-radius: 0px;
}

/* Code Block Caption */
div.code-block-caption {
    font-weight: bold;
    font-style: italic;
}

/* Code Line Highlight */
.highlight .hll {
    background-color: rgb(133, 132, 24);
}

/* Left bar color for cells in Jupyter Notebook */
div.cell div.cell_input {
    border-left-color: rgb(127, 218, 255)
}

/* Code highlight in source code view */
.viewcode-block:target {
    background-color: #382927;
}

/* Backquote */
blockquote {
    background-color: rgb(129 252 255 / 30%);
    border-left: 8px solid rgb(127, 218, 255);
    padding: 15px 30px 15px 15px;
}
blockquote p {
    margin-bottom: 0px;
}

/* Mermaid
to avoid the lable text being cut off
*/
.edgeTerminals {
    font-size: 9px !important;
}
