# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Setup Dev Environment
        run: |
          pip install virtualenv
          virtualenv .venv
          source .venv/bin/activate
          python3 -m pip install nvidia-cuda-runtime-cu12
          ./run setup
      - name: Check formatting
        run: |
          source .venv/bin/activate
          python3 -m pip install nvidia-cuda-runtime-cu12
          python3 -c 'import sys; print(sys.executable)'
          python3 -c 'import site; print(site.getsitepackages())'
          python3 -m pip freeze
          export LD_LIBRARY_PATH=`pwd`/.venv/lib/python3.8/site-packages/nvidia/cuda_runtime/lib:$LD_LIBRARY_PATH
          python3 -c 'from holoscan.core import *'
          ./run check -f
      - name: Run Unit tests
        run: |
          source .venv/bin/activate
          python3 -m pip install nvidia-cuda-runtime-cu12
          python3 -m pip install nvidia-cuda-runtime-cu12
          ./run test all unit
      - name: Coverage
        run: |
          source .venv/bin/activate
          python3 -m pip install nvidia-cuda-runtime-cu12
          coverage xml
      - name: Upload coverage
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: false
          files: ./coverage.xml
